@font-face {
	font-family: 'hotq';
	src:url('../fonts/hotq.eot');
	src:url('../fonts/hotq.eot?#iefix') format('embedded-opentype'),
		url('../fonts/hotq.ttf') format('truetype'),
		url('../fonts/hotq.woff') format('woff'),
		url('../fonts/hotq.svg#hotq') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class*="icon-"] {
	font-family: 'hotq';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-social-facebook:before {
    content: "\e600";
}
.icon-th-small:before {
    content: "\e601";
}
.icon-group:before {
    content: "\e602";
}
.icon-info-large:before {
    content: "\e603";
}
.icon-heart:before {
    content: "\e604";
}
.icon-arrow-back:before {
    content: "\e605";
}
