body {
    padding-top:60px;
    padding-bottom:60px;
}
.pagesize {
    width: 60px;
    position: absolute;
    right: 20px;
    top: 8px;
}

legend {
    padding-top:1em !important;
}

.navbar-default .navbar-brand {
    color:orangered !important;
}

@font-face {
    font-family: 'hotq_web';
    src: url('../fonts/hotq_web.eot');
    src: url('../fonts/hotq_web.eot?#iefix') format('embedded-opentype'), url('../fonts/hotq_web.woff') format('woff'), url('../fonts/hotq_web.ttf') format('truetype'), url('../fonts/hotq_web.svg#hotq_web') format('svg');
    font-weight: normal;
    font-style: normal;
}


[class^="icon-"], [class*=" icon-"] {
    font-family: 'hotq_web';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e600";
}
.icon-arrow-right:before {
    content: "\e601";
}
.icon-bars:before {
    content: "\e602";
}
.icon-twitter:before {
    content: "\e603";
}
.icon-facebook:before {
    content: "\e604";
}
.icon-googleplus:before {
    content: "\e605";
}
.icon-mail:before {
    content: "\e606";
}
.icon-mobile:before {
    content: "\e607";
}
.icon-pencil:before {
    content: "\e608";
}
.icon-pie:before {
    content: "\e609";
}
.icon-cw:before {
    content: "\e60a";
}
.icon-ellipsis:before {
    content: "\e60b";
}
.icon-cross:before {
    content: "\e60c";
}
.icon-checkmark:before {
    content: "\e60d";
}
.icon-cc-nd:before {
    content: "\e60e";
}
.icon-arrow-up:before {
    content: "\e60f";
}
.icon-arroww-up:after {
    content: "\e60f";
}
.icon-arroww-down:after {
    content: "\e610";
}
.icon-list:before {
    content: "\e611";
}


input.tricks {
    display: none;
}



.form-horizontal .form-group {
    border-top: 1px solid rgba(0, 0, 0, 0.11);
}


.pure-g, .pure-g-r {
    letter-spacing: normal !important;
}


.pure-form label {
    margin:0.5em 2em 0.2em 0 !important;
    display: block;
    float: left;
}



.p-success,
.p-error,
.p-warning,
.p-secondary {
    color: white;
    padding: 0.5em;
}

.p-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.p-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.p-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.p-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}



.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.lbox {
    padding: 1em;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.pagesizeIndic {
    text-align: center;
}
.blocking-click .spinner {
    width: 100px;
    height: 20px;
    background-color:red;
}

.questionList {
    max-height: 500px;
    overflow-y: scroll;
    list-style: none;
    display: block;
    position: relative;
    padding: 0;
    float: left;
    clear: both;
    width: 100%;
}

.badge {
    font-weight:normal;
    line-height:normal;
    margin-left:10px;
}
.currentNumber {
    padding-right:1em;
    text-align: right;
}

.currentNumber:after {
    content:'.'
}

.delButton, .markButton {
    padding:0.4em;
    background:none;
    border:none;
    display: inline-block;
    right: 0;
    position: absolute;
}

.markButton {
    right:20px;
}
.questionList li {
    padding: 0.3em 2em 0 0.3em;
}

.questionList li span.qTitle.read {
    text-decoration: line-through;
    color:#d3d3d3;
}

.questionList li.even {
    background-color: rgba(0, 0, 0, 0.1);
}

