<div class="about">
    <h1>Cine sau ce este hotQ?</h1>
    <p>HotQ s-a născut (programat, dezvoltat, implementat sau oricum vrei să-i spui) din dorința a doi tineri de a afla părerea celorlalți.</p>
    <p>Asta pentru că, în România, mass-media nu mai reprezintă demult o oglindă a adevăratelor frământări ale cetățeanului.</p>
    <p>Asta pentru că, în România, mass-media nu mai reprezintă demult o oglindă a adevăratelor frământări ale cetățeanului.</p>
    <p>Asta pentru că, în România, mass-media nu mai reprezintă demult o oglindă a adevăratelor frământări ale cetățeanului.</p>
    <p>Asta pentru că, în România, mass-media nu mai reprezintă demult o oglindă a adevăratelor frământări ale cetățeanului.</p>
    <p>Asta pentru că, în România, mass-media nu mai reprezintă demult o oglindă a adevăratelor frământări ale cetățeanului.</p>
    <!--<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>-->
</div>