
<!-- answer vertical bar-->
<div ng-show="slideIndex!=3" class="answers ng-cloak">
  <div ng-click="voteNow(1)" ng-class="{&quot;small&quot;:questions[slideIndex].hasVote}" ng-style="{height:getPercentage(&quot;percentYes&quot;)}" class="answer-yes">
    <p>DA<span ng-if="questions[slideIndex].hasVote" class="percentage"> - {{questions[slideIndex].percentYes}}%</span></p>
  </div>
  <div ng-click="voteNow(2)" ng-class="{&quot;small&quot;:questions[slideIndex].hasVote}" ng-style="{height:getPercentage(&quot;percentNo&quot;)}" class="answer-no">
    <p>NU<span ng-if="questions[slideIndex].hasVote" class="percentage"> - {{questions[slideIndex].percentNo}}%</span></p>
  </div>
</div>
<!--quote image-->
<div ng-show="slideIndex==3" class="answers ng-cloak"><img ng-src="{{questions[slideIndex].picture.url}}" class="quote-img"/></div>
<!--carousel-->
<ul rn-carousel="rn-carousel" rn-carousel-index="slideIndex" ng-init="loadq()" class="ng-cloak carousel">
  <li ng-repeat="question in questions">
    <!--question type header-->
    <div ng-class="{&quot;isQuestion&quot;:slideIndex!=3,&quot;isQuote&quot;:slideIndex==3}" class="question-tag">{{question.type}}</div><a ng-click="goLink(question.link)" ng-show="question.link" ng-class="{&quot;isQuestion&quot;:slideIndex!=3,&quot;isQuote&quot;:slideIndex==3}" class="info icon-exclamation-sign"></a>
    <div class="questionHolder">
      <div class="question">
        <!-- question text-->
        <div ng-show="slideIndex!=3" class="question-intro">{{question.text1}}</div>
        <div ng-show="slideIndex!=3" class="question-body">{{question.text2}}</div>
        <!-- quote text-->
        <div ng-show="slideIndex==3" class="question-intro quote-intro">{{question.author}}</div>
        <div ng-show="slideIndex==3" class="question-body quote-body">{{question.body}}</div>
      </div>
    </div>
  </li>
</ul>
<!--indication showing if voted--><span ng-if="slideIndex!=3" class="ng-cloak messageSlide">{{getMessage()}}</span>
<!--navigation bar-->
<ul ng-class="{&quot;isQuestion&quot;:slideIndex!=3,&quot;isQuote&quot;:slideIndex==3}" class="ng-cloak slideIndex">
  <li ng-class="{&quot;active&quot;:slideIndex==0, &quot;voted&quot;:questions[0].hasVote}" ng-click="slideIndex=0">1</li>
  <li ng-class="{&quot;active&quot;:slideIndex==1, &quot;voted&quot;:questions[1].hasVote}" ng-click="slideIndex=1">7</li>
  <li ng-class="{&quot;active&quot;:slideIndex==2, &quot;voted&quot;:questions[2].hasVote}" ng-click="slideIndex=2">30</li>
  <li ng-class="{&quot;active&quot;:slideIndex==3}" ng-click="slideIndex=3" class="icon-heart-empty"></li>
</ul>