.answers
    img.quote-img(ng-src='img/question-mark.jpg')
.question-tag.sendquestion-title te întrebi? și noi la fel...

.question.sendquestionbody.flexi
    .question-body.flexiblock Textul întrebării tale:
    textarea.textSendQuestion.flexbox-grow(type="text", ng-model="qSend.questionContent", placeholder="întrebarea ta pentru toți românii", required="necesar", ng-maxlength="200",ng-minlength="15")

    span.explanation.error.flexiblock(ng-show="error") Hmmm.... Avem o eroare pe undeva...
    span.explanation.success.flexiblock(ng-show="thankyou") Ieeeeee! Multumim pentru întrebarea ta!
    span.explanation.text.flexiblock(ng-show="!error && !thankyou") * maxim 200 de caractere, minim 15. Străduiește-te ca întrebarea să fie clară și să se poată  răspunde la ea cu DA sau NU. hotQ nu garantează că întrebarea ta va fi prezentă în aplicație. Pentru explicații, citește
        a(ng-click="goLocal('/about')") &nbspdespre hotQ.

.sendquestioncontainer
    button.sendQButton(ng-disabled="checkQSend()",ng-click="sendQ()", ng-show="!error") Trimite
    button.sendQButton(ng-click="goLocal('/carousel')", ng-show="!error") Renunță
    button.sendQButton(ng-click="sendQ()", ng-show="error") Reîncearcă
    button.sendQButton(ng-click="resetForm()", ng-show="error") Reset

