<div class="question-image">
    <img class="image-source"
         ng-src="{{questions.questionOfDay.picture.url}}"/>
    <div class="question-title">astăzi</div>
</div>


<div class="question-body">
    <div class="moreinfo">
        <div ng-show="questions.questionOfDay.link" ng-click="goReward(questions.questionOfDay.link)" class="info icon-info-large"></div>
        <div class="credit">Foto: {{questions.questionOfDay.imageSource}}</div>
    </div>

    <div ng-cloack class="question-pre">{{questions.questionOfDay.text1}}</div>
    <div ng-cloack class="question-main">
        {{questions.questionOfDay.text2}}
    </div>
</div>

