<div class="question-image">
    <img class="image-source"
         src="http://farm1.staticflickr.com/30/51871645_79714deaa8_z.jpg?zz=1"/>
    <div class="question-title">săptămână</div>
</div>


<div class="question-body">
    <div class="moreinfo">
        <div class="info icon-info-large"></div>
        <div class="credit">Sursa: Agerpres</div>
    </div>

    <div ng-cloack class="question-pre">{{questions.questionOfWeek.text1}}</div>
    <div ng-cloack class="question-main">
        {{questions.questionOfWeek.text2}}
    </div>
</div>


