
<div class="top-shade short"></div>
<div class="question sendquestionbody flexi">
  <textarea type="text" ng-model="qSend.questionContent" placeholder="întrebarea ta pentru toți românii" required="necesar" ng-maxlength="200" ng-minlength="15" class="textSendQuestion flexbox-grow"></textarea><span ng-show="error" class="explanation error flexiblock">Hmmm.... Avem o eroare pe undeva...</span><span ng-show="thankyou" class="explanation success flexiblock">Ieeeeee! Multumim pentru întrebarea ta!</span><span ng-show="!error &amp;&amp; !thankyou" class="explanation text flexiblock">* maxim 200 de caractere, minim 15. Străduiește-te ca întrebarea să fie clară și să se poată  răspunde la ea cu DA sau NU. hotQ nu garantează că întrebarea ta va fi prezentă în aplicație. Pentru explicații, citește<a ng-click="goLocal('/about')">&nbspdespre hotQ.</a></span>
  <div class="sendquestioncontainer">
    <button ng-disabled="checkQSend()" ng-click="sendQ()" ng-show="!error" class="sendQButton">Trimite</button>
    <button ng-click="goLocal('/carousel')" ng-show="!error" class="sendQButton">Renunță</button>
    <button ng-click="sendQ()" ng-show="error" class="sendQButton">Reîncearcă</button>
    <button ng-click="resetForm()" ng-show="error" class="sendQButton">Reset</button>
  </div>
</div>
<div class="question-tag">întreabă</div>