<!DOCTYPE html>


<html lang="ro-RO">
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/ng-mobile-menu.min.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/loader.css">
    <link rel="stylesheet" href="css/animate-custom.css">
    <title>hotQ</title>
</head>
<body ng-controller="HotqCtl as main" ng-cloak ng-init="init()">

<div ng-hide="online" class="loading">
    <div id="bowlG2">
        <div id="bowl_ringG2">
            <div class="ball_holderG">
                <div class="ballG">
                </div>
            </div>
        </div>
        <span class="loader_text">
            Nu există conexiune activă <br/><strong>la internet!</strong>
        </span>
    </div>
</div>


<div ng-show="loader" class="loading">
    <div id="bowlG">
        <div id="bowl_ringG">
            <div class="ball_holderG">
                <div class="ballG">
                </div>
            </div>
        </div>
        <span class="loader_text">încărcare întrebări</span>
    </div>
</div>

<!--menu hotq-->
<div id="sp-nav" ng-swipe-left="$spMenu.toggle()">
    <ul class="menu list-group">
        <li><a class="icon-heart list-group-item" href="#"><strong>Share hotQ</strong><br/>cu prietenii tăi</a></li>
        <li><a class="icon-social-facebook list-group-item" href="#"><strong>Ai sugestii?</strong><br/>hotQ pe
            Facebook</a></li>
        <li><a class="icon-chart-line list-group-item" href="#"><strong>Răspunsurile</strong><br/>celorlalți</a>
        </li>
        <li><a class="icon-info-large list-group-item" href="#"><strong>Despre</strong><br/> hotQ</a></li>
    </ul>
    <a class="themobile" href="http://themobile.ro" target="_blank">themobile.ro</a>
</div>


<!--pagina trebuie sa aiba sp-page pentru a functiona cu meniul-->
<div id="sp-page" ng-swipe-left="next()" ng-swipe-right="previous()">
    <div id="menubar" class="container">
        <!--<div class="navbar navbar-fixed-top">-->
        <div class="navbar ">
            <div class="row">
                <div ng-click="$spMenu.toggle()" class="menu-button icon-th-menu col-xs-4 "></div>
                <!--schimba in disabled daca nr screen = 0-->
                <div ng-class="{disabled:checkScreen()==0}" ng-click="previous()"
                     class="arrows arrow-left icon-chevron-left col-xs-2 col-xs-offset-4"></div>
                <!--schimba in disabled daca nr screen = 3-->
                <div ng-class="{disabled:checkScreen()==3}" ng-click="next()"
                     class="arrows arrow-right icon-chevron-right col-xs-2"></div>
            </div>
        </div>
    </div>

    <div class="view-animate-container">
        <div ng-view ng-class="direction"></div>
    </div>


    <!--<div class="footer navbar navbar-fixed-bottom">-->
    <div class="footer navbar ">
        <h5>inspired by themobile.ro</h5>
    </div>
</div>

<script type="text/javascript" src="phonegap.js"></script>

<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="res/js/angular.min.js"></script>
<script type="text/javascript" src="res/js/angular-animate.min.js"></script>
<script type="text/javascript" src="res/js/angular-cookies.min.js"></script>
<script type="text/javascript" src="res/js/angular-resource.min.js"></script>
<script type="text/javascript" src="res/js/angular-route.min.js"></script>
<script type="text/javascript" src="res/js/angular-touch.min.js"></script>
<script type="text/javascript" src="js/ng-mobile-menu.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>

<script type="text/javascript">
    app.initialize();
</script>
</body>
</html>
