<div class="container">
    <div class="header">
        <!--<button ng-click="reverse=!reverse">reverse</button>-->
        <button class="btnMenu" ng-click="$spMenu.toggle()"><p>Menu</p></button>
    </div>

    <div class="answers">
        <div id="answersTop"></div>
        <div class="explicatii">
            <h1>
                Răspunzi?
            </h1>

            <h2 class="subtitle">la întrebările presante ale vieții de zi cu zi</h2>

        </div>


        <p class="txt">
            HotQ este o aplicație de mobil independentă, ce își propune să te confrunte cu opiniile românilor
            în ceea ce privește probleme importante ale vieții de zi cu zi.
            Poți răspunde și tu întrebărilor hotq instalând acum aplicația pe Android sau iPhone.
        </p>

        <p class="txt">
            Demersul hotQ nu se substituie unui sondaj de opinie. Fiecare răspuns este absolut anonim.
            Singurele informații colectate în cadrul aplicației de mobil sunt: un id hardware unic ce permite push
            notifications, locația aproximativă a utilizatorului și câteva elemente demografice.
        </p>

        <p class="txt">
            Toate acestea ajută hotq să discearnă mai bine relevanța răspunsurilor și îngreunează încercările de fraudare.
        </p>

        <p class="txt">
            Cifrele prezentate pe acest site sunt rezultate directe ale răspunsurilor utilizatorilor,
            fără a fi procesate în vreun fel și nu reprezintă neapărat opinia themobile.ro.
            Formularea întrebărilor se face pe baza informațiilor publice vehiculate în mass-media de calitate,
            pe baza sugestiilor utilizatorilor (pe pagina noastră de facebook sau pe email).
        </p>


        <!--Rezultatele pot fi extrapolate la un eșantion reprezentativ național, acolo unde datele sunt suficient de-->
        <!--generoase pentru a o permite, cu tehnici de analiză statistică a datelor.-->

        <p class="txt">
        În măsura în care îți dorești răspunsuri la o anumită întrebare, și dacă întrebarea este relevantă pentru hotQ,
        este posibil sa o publicăm în aplicație. În acest sens, te rugăm să ne <a class="p_important" ng-href="#trimite">scrii aici</a>.
        </p>


    </div>


</div>