<div class="container">
    <div class="header">
        <!--<button ng-click="reverse=!reverse">reverse</button>-->
        <button class="btnMenu" ng-click="$spMenu.toggle()"><p>Menu</p></button>
    </div>

    <div class="answers">
        <div id="answersTop"></div>
        <div class="explicatii">
            <h1>
                Răspunzi?
            </h1>

            <h2 class="subtitle">la întrebările presante ale vieții de zi cu zi</h2>

        </div>

        <p class="txt"><span class="drop">1</span>
            Pentru a răspunde și tu la întrebările formulate de <strong>hotQ</strong>, ai nevoie de <strong>aplicația
                hotQ</strong> pe telefonul sau tableta ta.
            Aplicația este accesibilă pe <span class="p_important">Android</span> și <span
                    class="p_important">iPhone</span> și este extrem de simplă în utilizare.</p>

        <div class="img_stores">
            <img src="img/google-play-store-logo.png" width="150"/>
            <img src="img/itunes-app-store-logo.png" width="150"/>
        </div>


        <p class="txt"><span class="drop">2</span>Tot ce trebuie să faci este să apeși pe <strong>DA</strong> sau pe <strong>NU</strong> la fiecare întrebare
            propusă de hotQ. Există trei tipuri de întrebări: zilnice, săptămânale și lunare. Ne-am gândit că unele întrebări au importanță / relevanță
            mai mult timp și rămân disponibile în aplicație pentru o săptămână sau lună întreagă.</p>

        <p class="txt"><span class="drop">3</span>După ce ai răspuns la cele trei întrebări (întrebarea zilei, a săptămânii și a lunii), am pregătit pentru tine un sfat, o idee, o poveste amuzanta.
            În fiecare zi, hotQ îți propune o idee nouă, care să-ți fie de ajutor, să te învețe ceva util sau să îți descrețească puțin fruntea.</p>

    </div>


</div>