<div class="container">
    <div class="header">
        <button class="btnMenu" ng-click="$spMenu.toggle()"><p>Menu</p></button>
    </div>

    <div class="loader" ng-show="error">
        <span class="loader_error icon-cross">Hmm... eroare de rețea
        <button ng-click="init()">Reîncearcă!</button>
        </span>
    </div>

    <div class="loader" ng-show="loading">
        <div id="bowlG">
            <div id="bowl_ringG">
                <div class="ball_holderG">
                    <div class="ballG">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div  class="answers" >
        <div id="answersTop"></div>
        <div  class="explicatii" ng-show="!loading">
            <h1>
                Răspunsurile<sup>*</sup> românilor
            </h1>

            <h2 class="subtitle">la întrebările presante ale vieții de zi cu zi</h2>

            <p>Procentele reprezintă răspunsurile afirmative (da). Poți răspunde și tu la întrebări, folosind <a
                    href="#/instaleaza">aplicația de mobil <strong>hotQ</strong></a>.
                * lista reprezintă întrebările din ultimele 30 de zile | <strong>Z</strong> = întrebare cu valabilitate o zi, <strong>S</strong> = săptămână, <strong>L</strong> = lună

            </p>
        </div>
        <button class="reverseButton" ng-show="!loading" ng-class="{'icon-arroww-down': !reverse, 'icon-arroww-up': reverse}" ng-click="reverse=!reverse">Sortează după dată</button>

        <ul class="cbp_tmtimeline">
            <li  ng-repeat="question in questions | orderBy:'index':reverse">
                <div class="cbp_tmtime">
                    <span>{{question.resultPercentYes}}%</span>
                    <span>{{question.period}}</span>
                </div>
                <div class="cbp_tmicon" ng-class="question.type" title="Întrebare valabilă o zi (Z), o săptămână (S) sau o lună (L)"></div>
                <div class="cbp_tmlabel">
                    <p>{{question.text1}}</p>

                    <h2>{{question.text2}}</h2>
                </div>
            </li>
        </ul>
        <div scroll-to="answersTop"  ng-show="!loading" class="gotop icon-arrow-up"></div>
        <p class="p_bottom" ng-show="!loading">Procentele reprezintă răspunsurile afirmative (da). Poți răspunde și tu la întrebări, folosind <a
                href="#/instaleaza">aplicația de mobil <strong>hotQ</strong></a>.
            * lista reprezintă întrebările din ultimele 30 de zile | <strong>Z</strong> = întrebare cu valabilitate o zi, <strong>S</strong> = săptămână, <strong>L</strong> = lună

        </p>
    </div>

</div>