/** {*/
/*-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;*/
/*-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;*/
/*outline: none !important;  */
/*}*/
button,
button:hover,
li:hover,
a:hover,
li,
a,
*:hover,
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  background: #1c2230;
  font-size: 16px;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
strong {
  color: #a4c035;
  font-weight: 300;
}
h1,
h2,
h3,
h4 {
  font-weight: normal;
}
a:focus {
  outline: none;
}
#content {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background: #1c2230;
}
.page {
  height: 100%;
  width: 100%;
  position: absolute;
}
#nav {
  position: absolute;
  width: 33.33%;
  text-align: center;
  left: 0;
  margin: 0 auto;
  right: 0;
  box-sizing: border-box;
  background: none !important;
  font-size: 1.5em;
  color: #f6f9e4;
  line-height: 1.5em;
  padding-top: 3px;
  z-index: 999;
}
#nav span {
  display: block;
  text-align: center;
  font-size: 0.6em;
}
#nav:hover,
#nav:active,
#nav:focus {
  color: #1c2230;
}
.halfblue {
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  top: 0;
  background-color: #3F4C77;
}
#menu {
  background-color: #a4c035;
  position: relative;
  color: #f6f9e4;
  max-width: 70%;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 5%;
  height: 80%;
}
#menu ul li {
  line-height: 4em;
  padding: 0.5em;
  border-bottom: 1px solid #1c2230;
}
#menu ul li:hover {
  background: #1c2230;
  color: #f6f9e4;
}
.backbutton {
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  color: #FF4500;
  line-height: 1.5em !important;
}
.answers {
  height: 50%;
  font-size: 2em;
  width: 100%;
  top: 0;
  left: 0;
  font-family: 'Oswald';
  text-align: center;
  position: absolute;
  display: block;
  z-index: 12;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}
.answers p {
  margin: 0;
  padding: 0;
  line-height: 0;
  position: relative;
  -webkit-transition: ease 0.25s;
  transition: ease 0.25s;
}
.answers .small {
  font-size: 40%;
}
.answers .percentage {
  display: inline;
}
.answers.ng-hide-add,
.answers.ng-hide-remove {
  display: block!important;
}
.answers.ng-hide {
  opacity: 0;
}
.answers-animate3 {
  -webkit-transition: opacity ease-in-out 0s;
  transition: opacity ease-in-out 0s;
}
.answers-animate3.ng-hide-add,
.answers-animate3.ng-hide-remove {
  display: block!important;
  opacity: 0;
}
.answers-animate3.ng-hide {
  opacity: 0;
}
.answer-yes.small p {
  border-top: 1px solid #a4c035;
  line-height: 2em;
}
.answer-no.small p {
  border-top: 1px solid #a4c035;
  line-height: 2em;
}
.answer-yes {
  position: absolute;
  width: 33.33%;
  left: 0;
  top: 30%;
  height: 70%;
  color: rgba(246, 249, 228, 0.5);
}
.answer-no {
  position: absolute;
  width: 33.33%;
  right: 0;
  top: 30%;
  height: 70%;
  color: rgba(246, 249, 228, 0.5);
}
.arrow-left,
.arrow-right {
  position: absolute;
  bottom: 2%;
  width: 50%;
  height: 2em;
  text-align: center;
  font-size: 1em;
  color: #a4c035;
  z-index: 10;
}
.arrow-left {
  left: 0%;
}
.arrow-left[disabled] {
  color: rgba(246, 249, 228, 0.5);
}
.arrow-right {
  right: 0%;
}
.arrow-right[disabled] {
  color: rgba(246, 249, 228, 0.5);
}
.question,
.quote {
  position: absolute;
  top: 52%;
  width: 100%;
  color: #F6F9E4;
  text-align: center;
  height: 35%;
  display: block;
  word-wrap: normal;
  overflow-y: scroll;
}
.question {
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
  opacity: 1;
}
.question.ng-hide-add,
.question.ng-hide-remove {
  display: block!important;
}
.question.ng-hide {
  opacity: 0;
}
.quote {
  top: 0;
  height: 80%;
}
.quote-img {
  background: url(../img/quote-img-bg.png);
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
a.info {
  right: 0;
  top: 40%;
  left: 0;
  text-align: center;
  display: block;
  color: #425032;
  text-decoration: none;
  position: absolute;
  font-size: 1.5em;
  line-height: 1.5em;
  z-index: 14;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.info.ng-hide-add,
.info.ng-hide-remove {
  display: block!important;
}
.info.ng-hide {
  opacity: 0;
}
.question-intro,
.question-body {
  font-size: 0.8em;
  width: 100%;
  font-family: 'Roboto';
  font-weight: 300;
  padding: 0 1em;
  box-sizing: border-box;
}
.question-intro {
  padding-bottom: 0.7em;
  color: rgba(246, 249, 228, 0.5);
}
.quote-intro {
  color: rgba(246, 249, 228, 0.5);
}
.question-body {
  font-family: 'Roboto';
  line-height: 1.6em;
  font-weight: 300;
}
.quote-body {
  color: #f6f9e4;
}
.question-tag {
  position: absolute;
  display: block;
  bottom: 2%;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  font-size: 2.5em;
  color: rgba(246, 249, 228, 0.5);
  z-index: 9;
}
ul.slideIndex {
  position: absolute;
  bottom: 1em;
  left: 1em;
  width: 75% !important;
  display: block;
  padding: 0;
  color: #a4c035;
  margin: 1em 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: space-between;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
ul.slideIndex li {
  background: none;
  list-style: none;
  margin-right: 1em;
  float: left;
  text-align: center;
  line-height: 2em;
  height: 2em;
  width: 2em;
  border-radius: 5px;
  border: 1px solid #a4c035;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
ul.slideIndex li.active {
  background-color: #a4c035;
  color: #f6f9e4;
}
ul.slideIndex li.voted:before {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #a4c035;
  content: '';
  display: block;
  clear: none;
  position: absolute;
  bottom: 3px;
  margin-left: 3px;
}
ul.slideIndex li.voted.active:before {
  background: #f6f9e4;
}
.isQuote {
  color: #a4c035 !important;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.isQuoteBackground {
  background-color: #f6f9e4 !important;
  color: #f6ad40 !important;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.isAboutBackground {
  background-color: #f6f9e4 !important;
  color: #1c2230 !important;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.isQuestionsBackground {
  color: #f6f9e4;
  background: #1c2230 !important;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.isSendQuestionBackground {
  color: #a4c035;
  background-color: #1c2230 !important;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
ul.isQuote {
  color: #f6ad40;
}
ul.isQuote li {
  border: 1px solid #f6ad40;
}
ul.isQuote li.active {
  background-color: #f6ad40;
  color: #f6f9e4;
}
ul.isQuote li.voted:before {
  background: #f6ad40;
}
ul.isQuote li.voted.active:before {
  background: #f6f9e4;
}
.messageSlide {
  display: block;
  position: absolute;
  width: 33.33%;
  color: #f6f9e4;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  top: 29%;
  font-size: 1em;
  -webkit-transition: opacity ease-in-out 0.2s;
  transition: opacity ease-in-out 0.2s;
}
.messageSlide.ng-hide-add,
.messageSlide.ng-hide-remove {
  display: block!important;
}
.messageSlide.ng-hide {
  opacity: 0;
}
.swipe-indicator {
  background: url(../img/swipe-indicator.svg) center center no-repeat;
  position: absolute;
  bottom: 12%;
  width: 100%;
  height: 1em;
  background-size: 50%;
  background-position-x: 51%;
}
.halfblue.ng-enter,
.halfblue.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.25s;
}
.halfblue.ng-enter,
.halfblue.ng-leave.ng-leave-active {
  width: 0;
}
.halfblue.ng-leave,
.halfblue.ng-enter.ng-enter-active {
  width: 50%;
}
.startup {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  position: absolute;
  z-index: 999;
  -webkit-transition: all linear 0.3s;
  transition: all linear 0.3s;
  opacity: 1;
}
.startup.ng-hide-add,
.startup.ng-hide-remove {
  display: block!important;
}
.startup.ng-hide {
  opacity: 0;
}
.loading {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 34, 48, 0.9);
  position: absolute;
  z-index: 99;
}
.loading img {
  width: 50px;
  position: absolute;
  margin-top: -25px;
  top: 50%;
  left: 50%;
  margin-left: -25px;
}
.loader {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  position: absolute;
}
.about {
  font-family: 'Roboto';
  position: relative;
  display: block;
  float: left;
  height: 75%;
  top: 12%;
  width: 100%;
  font-size: 0.8em;
  line-height: 1.5em;
  font-weight: 300;
  color: #f6f9e4;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch ;
  padding: 0 1em;
  box-sizing: border-box;
}
.about-link-questions {
  top: 90%;
  position: absolute;
  right: 5%;
  font-size: 1em;
  color: #FE6700;
}
.sendquestion-title {
  color: #a4c035;
}
.modal-html {
  position: absolute;
  top: 12%;
  left: 0;
  bottom: 0;
  right: 0;
}
.modal-footer {
  position: absolute;
  bottom: 5%;
  text-align: center;
  font-size: 0.8em;
  width: 100%;
}
.formFrame {
  position: absolute;
  top: 20%;
  text-align: center;
  width: 100%;
  color: #f6f9e4;
}
input[type=radio] {
  display: none;
}
input[type=radio] + label {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #a4c035;
  font-weight: 100;
  padding: 0.5em;
  margin: 0 0.5em;
  color: #a4c035;
  outline: none;
  text-align: center;
}
input[type=radio]:checked + label {
  background-image: none;
  background-color: #a4c035;
  color: #f6f9e4;
}
input {
  font-size: 0.6em !important;
  line-height: 2em !important;
  font-weight: 100;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  position: relative;
  display: block;
  border-radius: 15px;
  padding: 0.2em;
  color: rgba(255, 255, 255, 0.5);
  outline: none;
  text-align: center;
  width: 100%;
}
.lblGroupForm {
  font-family: 'Roboto';
  font-size: 1.5em;
  margin: 1em 0;
}
.demo-thanks,
.demographics-pre {
  padding: 2em;
  color: #f6f9e4;
  letter-spacing: 0.2px;
}
.sendQForm {
  height: 100%;
  width: 100%;
}
.textSendQuestion {
  width: 100%;
  background: none;
  border: 1px solid rgba(66, 80, 50, 0.5);
  color: #f6f9e4;
  resize: none;
  margin-top: 1em;
  font-family: Roboto;
  font-weight: 300;
  font-size: 0.8em;
}
.explanation {
  float: left;
  font-family: Oswald;
  font-size: 0.8em;
  color: grey;
  line-height: 1.2em;
  width: 100%;
  text-align: center;
}
.explanation a {
  color: #a4c035;
}
.flexi {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.flexbox {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.flexbox-grow {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 2;
  -moz-box-flex: 2;
  -webkit-flex: 2 1 auto;
  -ms-flex: 2 1 auto;
  flex: 2 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.sendquestioncontainer {
  position: relative;
  display: block;
  margin: 1em auto 0;
}
.sendquestionbody {
  overflow: hidden;
  top: 10%;
  padding: 2em;
  box-sizing: border-box;
  height: 75%;
}
.sendQButton {
  min-width: 8em;
  margin-right: 1em;
  float: left;
  display: block;
  color: rgba(246, 249, 228, 0.5);
  background: #425032;
  text-align: center;
  line-height: 2em;
  border-radius: 5px;
  border: 1px solid #425032;
}
.sendQButton:disabled {
  background: #425032;
  color: rgba(246, 249, 228, 0.2);
}
.sendQButton[disabled]:active,
.sendQButton[disabled]:focus,
.sendQButton[disabled]:hover {
  background: #425032;
  color: rgba(246, 249, 228, 0.2);
}
.sendQButton:active,
.sendQButton:focus,
.sendQButton:hover {
  color: #f6f9e4;
  background-color: #a4c035;
}
.sendRetryButton {
  min-width: 8em;
  margin: 1em auto;
  font-size: 1.5em;
  display: block;
  color: rgba(246, 249, 228, 0.5);
  background: #425032;
  text-align: center;
  line-height: 2em;
  border-radius: 5px;
  border: 1px solid #425032;
}
.bottom-shade {
  position: absolute;
  width: 33.33%;
  height: 3%;
  bottom: 0;
  left: 0;
  right: 0;
  background: #425032;
  margin: 0 auto;
}
.top-shade {
  position: absolute;
  width: 33.33%;
  height: 50%;
  top: 0;
  left: 0;
  right: 0;
  background: #a4c035;
  margin: 0 auto;
}
.top-shade.short {
  height: 3em;
}
#bowlG {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -25px;
}
.loader_text {
  top: 65px;
  position: absolute;
  left: -125px;
  color: #f6f9e4;
  font-size: 0.8em;
  width: 300px;
  letter-spacing: 1px;
  overflow: visible;
  clear: both;
  text-align: center;
}
#bowl_ringG {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 4px solid #f6f9e4;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
.ball_holderG {
  position: absolute;
  width: 13px;
  height: 50px;
  left: 18px;
  top: 0px;
  -moz-animation-name: ball_moveG;
  -moz-animation-duration: 1.3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: ball_moveG;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -ms-animation-name: ball_moveG;
  -ms-animation-duration: 1.3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: ball_moveG;
  -o-animation-duration: 1.3s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
  animation-name: ball_moveG;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.ballG {
  position: absolute;
  left: 0px;
  top: -12px;
  width: 20px;
  height: 20px;
  background: #a4c035;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  border-radius: 17px;
}
@-moz-keyframes ball_moveG {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes ball_moveG {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-ms-keyframes ball_moveG {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes ball_moveG {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes ball_moveG {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
  opacity: 1;
}
.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity: 0;
}
.topindex {
  z-index: 12;
}
@media only screen and (min-device-width: 768px) and (orientation: portrait) {
  body {
    font-size: 32px;
  }
  #menu ul li {
    line-height: 3em;
    font-size: 0.5em;
    max-width: 200px;
  }
  .about {
    font-size: 0.5em;
  }
  .explanation {
    font-size: 0.5em;
  }
  .sendQButton {
    font-size: 0.5em;
  }
}
